<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System.Configuration.ConfigurationManager, Version=5.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" >
            <section name="My_Médiathèque_Online.inc.classes.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=5.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System.Configuration.ConfigurationManager, Version=5.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" >
            <section name="My_Médiathèque_Online.inc.classes.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=5.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
	<appSettings>
		<add key="UserMail" value="#lbe-ajf*inj_l.E&amp;EkN$@lj-xfv*fbm_.dr&amp;t@x"/>
		<add key="UserPwd" value="#On2-CGg*coe_6on&amp;1k5$6CF-VNR*QFm_kLk&amp;O6r"/>
		<add key="host" value="#xqz-lvp*ms-_l.e&amp;aff$iqj-lf.*vem_dzv&amp;zxl$cfv-wpv*.ki_nfw"/>
		<add key="port" value="#363-006"/>
		<add key="database" value="#lve-aaf*iaj_l__&amp;gec$ce_-ewe*n"/>
		<add key="username" value="#l_e-azf*idj_ls_"/>
		<add key="password" value="#jvr-Ixe*FZB_l2K&amp;l1x$1HM-wjt*Hq1_2KL&amp;z1n"/>
	</appSettings>
</configuration>