p
{
    text-align: justify;
}
.carre
{
    width: 75px;
    height: 75px;
    border: solid 2px black;
}
.bleu
{
    background-color: blue;

}
.green
{
    background-color: green;
}
.fixed
{
    position: fixed;
}
.droite
{
    right: 0px;
}