/*
*Judicaël 12/04/2022 création du fichier + insertion regle d'alexandra
*/
.livre-bg-blue:hover
{
    background-color: #31ccb0;
    transition: all 0.5s ease-in-out;
}
.livre-bg-red:hover
{
    background-color: #e6504b;
    transition: all 0.5s ease-in-out;
}
.livre
{
    transition: all 1s ease-in-out;
}
.search {
    height: 450px;
    background-image: url("../img/Fond.png");
    background-size: cover;
    padding-top: 10%;
}

.img-logo {
    width: 15%;
}

.identifiant {
    width: 70%;
}

form {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.input-search {
    width: 500px;
    height: 50px;
    border: none;

}

input[type="search"] {
    border: none;
    height: 50px;
    width: 600px;
    font-size: 35rem;
}

.search-button {
    height: 50px;
    border: none;
}

.container-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}

.main-aside {

    background-color: darkcyan;
    margin: 4px;
    padding: 5px;
    width: 25%;
    flex-grow: 1;
}

.main-section {

    background-color: white;
    margin: 4px;
    padding: 2%;
    flex-grow: 2;
    width: 75%;

}



.circle {
    width: 40px;
    vertical-align: top;
}

.lista {
    text-align: center;
    list-style: none;

}

.list {
    text-decoration: none;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    font-weight: bold;
}

.img-main {
    width: 40%;
}

.img-livres {
    text-align: center;
    background-size: cover;
}

.p-aside {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}

.redes {
    text-align: center;
}

.reseaux-sociaux {
    width: 50px;

}

h2 {
    font-size: 3rem;
}

.img-main_horaires {
    width: 40%;
}

.description {
    font-size: 40%;
    font-family: Lato sans-serif;
    width: 88%;
    background-color: darkcyan;
    background-image: url(../img/fondomain1.png);
    margin-left: 6%;
    margin-bottom: .5%;
    position: static;
}

.conteiner-main {
    width: 80%;
    background-color: white;
}

.flex_main {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: burlywood;
    margin-left: 5%;
    width: 90%;
    background-image: url(../img/fondomain1.png);
}

.img-main {
    width: 400px;
    float: left;
}

.img_main0 {
    flex-grow: 1;
    width: 20%;
}

.img_main1 {
    align-items: center;
    width: 25%;
    margin-left: 35%;
    margin-top: 1.5%;
    margin-bottom: 1%;
}

.description {
    font-size: 4rem;

}

.concept {
    font-size: 1.5rem;
    width: 50%;
    flex-grow: 2;
}

.p-main {
    margin-top: 1%;
    margin-left: 40%;
    font-size: 2.5rem;
    color: white;
}
/* Popup login */
#popupLogin
{
    padding: 0% 10%;
    background-color: #cae1e2;
    border: #486a70 2px solid;
    left: 25%;
    position: fixed;
    top : -100vh;
    transition: top 1s linear;
    z-index: 1040;
}
.button {
    width: 250px;
    background-color: #207868;
    transition: background-color 1s;
    margin-bottom: 0.5rem;
}

.button:hover {
    background-color: #31ccb0;
    transition: all 1s;
}