/* responsive Windows*/

    /*google font*/
    @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap');

    /*footer + header*/
    .BtmTop
    {
        background-color: #90bcb3;
        width: 100%;
    }
    .btm
    {
        height: 40px;
    }
    .top
    {
        height: 150px;
        justify-content: space-evenly;
    }
    /* accueil */
      
      html {
          font-size: 62.5%; 
      }
      
      body{ 
        background-color:black;
      }
      
      .header-style {
        align-items: center;
        background-color:darkcyan;
        width: 100%;
        height: 150px;
        gap: 20%;
        position: fixed;
      }
      
      .img-logo {
        
        width: 20%;
        
      
      }
      
      .p-header {
        
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2em;
        color: aliceblue;
        width: 60%;
      }
      .identifiant {
        
        width: 100%;
        
      
      }
      
      .a-header {
        text-decoration: none;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        color:blue;
        font-weight: bold;
      }
      
      .search {
        background-image:url("/../../pub/img/Fond.png");
        height: 450px;
        background-position: bottom;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        
      }
      
      
      form {
          margin: 0;
          padding: 0;
          border: 0;
          font-size: 100%;
          font: inherit;
          vertical-align: baseline;
      }
      .input-search {
        width: 500px;
        height: 50px;
        border: none;
        
      }
      
      input[type="szarch"] {
          border: none;
          height: 50px;
          width: 600px;
          font-size: 35rem;
      }
      
      .search-button {
          height: 50px;
          border: none;
      }
      
      .container-main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-family: Arial, Helvetica, sans-serif;
        
        
        
      }
      
      .main-aside {
      
        background-color:darkcyan;
        margin: 4px;
        padding: 5px;
        width: 25%;
        flex-grow: 1;
        
      
      
      }
      
      .main-section {
      
        background-color:white;
        margin: 4px;
        padding: 4px;
        flex-grow: 2;
        width: 75%;
        
      }
      
       
      
      .circle {
        width: 40px;
        vertical-align: top;
      }
      
      .lista {
        text-align: center;
        list-style: none;
      
      }
      
      .list {
        text-decoration: none;
        font-size: 2rem;
        font-family: Arial, Helvetica, sans-serif;
        color:blue;
        font-weight: bold;
      
       
        
      }
      .img-livres {
       text-align: center;
       background-size: cover;
      }
      
      .p-aside {
        font-size: 2rem;
        font-family: Arial, Helvetica, sans-serif;
        color:white;
        text-align: center;
      }
      .redes {
        text-align: center;
      }
      .reseaux-sociaux {
        width: 50px;
        
      }
      
      h2 {
        font-size: 3rem;
      }
      .img-main {
      width: 400px;
      float: left;
      }
      .description {
      font-size: 4rem;
      
      }
            

/* login */
    #main
    {
        background-color: #3e586b;
    }
    #main>img , #loginForm
    {
        height: 640px;
    }
    .button
    {
        width: 250px;
        background-color: #207868;
        transition: background-color 1s;
    }
    .button:hover
    {
        background-color: #31ccb0;
        transition: all 1s;
    }
    #loginForm
    {
        width: 30%;
        background-color: #dfe6ed;
        padding: 2%;
    }
    #loginForm *
    {
        margin: 5px;
    }
    /* CSS Général*/
    body 
    {
        font-family: 'Lato', sans-serif;
        
    }
